body{
    margin: 0;
    padding: 0;
}

.keys{
    height: 600px;
    display:flex;
    justify-content: center;
    align-items: center;
   
}
.key{
    display:block;
    padding: 20px;
    background-color:rgb(29, 170, 175);
    margin:10px;
    height: 60px;
    width: 60px;
    text-align: center;
    color:white;
    border-radius: 5px;
    
}
kbd{
    display: block;
    font-size:30px;
    color:rgb(9, 52, 63);
   
}
.active{
    transform: scale(1.5);
    border-color:green;
}